* {
  box-sizing: border-box;
}

body {
  background: rgb(29,232,177);
  background: linear-gradient(90deg, rgba(29,232,177,1) 0%, rgba(9,95,121,1) 53%, rgba(0,212,255,1) 100%);
  font-family: sans-serif;
}
title{
  color: black;
}

h3{
  color: black;
}
.topnav {
  overflow: hidden;
  background: rgb(29,232,177);
  background: linear-gradient(90deg, rgba(29,232,177,1) 0%, rgba(9,95,121,1) 53%, rgba(0,212,255,1) 100%);
  padding: 10px;
}

.topnav a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: uppercase; 
}
.topnav .search-container {
  float: right;
}

form{
  background: rgb(29,232,177);
  width: 300px;
  height: 43px;
  border-radius: 11px;
  display: flex;
  align-items: center;
}

input{
  all: unset;
  font: 15px system-ui;
  color: white;
  height: 100%;
  width: 100%;
  padding: 6px 9px;
}
.thumbnail{
  height: 350px;
  width: 300px;
  border-radius: 19px;
}

.column {
  float: left;
  width: 25%;
  padding: 10px 10px;
}

.card{
  border-radius: 19px;
  padding: 15px;
  text-align: center;
  background: rgb(29,232,177)
}